
*{
    padding: 0%;
    margin: 0%;
    text-align: center;
}

h1{
    height: 45px;
    width: 100%;
    background-color: #005461;
    color: aliceblue;
    text-align: center;
}



.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 25px;

}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    cursor: pointer;
    background-color: black;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    

}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    margin-top: 25px;
    gap: 25px;
}

#user-score,#comp-score{
    font-size:40px ;
}

.msg-container{
  margin-top: 25px
}
#msg{
    background-color:#005461;
    color: antiquewhite;
    font-size: 25px;
    display: inline;
    padding:8px;
  border-radius: 20px;
}
